{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {% include "navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/about-bg.jpg' %});width:111.2%;margin-left:-6%">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">THINK <strong>DO</strong>  BE <strong>GET</strong> </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>Hey! I am Reck</h1>
                <p>I am a Full Stack Developer at self learning pvt. ltd.</p>
                <p>Some of the qoutes I like...</p>
                <p>"The joy of coding Python should be in seeing short, concise, readable classes that express a lot of action in a small amount of clear code -- not in reams of trivial code that bores the reader to death." - <strong>
                Guido van Rossum</strong></p>
                <p> "When someone says: 'I want a programming language in which I need only say what I wish done', give him a lollipop." - <strong>
                Alan J. Perlis</strong></p>
                <p> "All the powers in the universe are already ours. It is we who have put our hands before our eyes and cry that it is dark."- <strong>
                Swami Vivekananda</strong></p>
                <p>Read Learn Share</p>
                <p>Get in touch</p>
                <h2><strong>See you...</strong></h2>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
{% endblock content  %}