{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {% include "navigation.html" %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url({% static 'img/home-bg.jpg' %});
        width:111.2%;margin-left:-6%" >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Bloggo Blog</h1>
                        <hr class="small">
                        <span class="subheading">Read Learn Share</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            {% for obj in object_list %}
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        {% if obj.image %}
                            <img src="{{ obj.image.url }}" class="img-responsive "/>
                        {% endif %}
                        {% if obj.draft %}<h3>Draft</h3>{% endif %}
                        {% if obj.publish > today %}<h3>Future Post</h3>{% endif %}
                        <a href="{{ obj.get_absolute_url }}">
                            <h2 class="post-title">
                                {{ obj.title }}
                            <hr>
                            </h2>
                            <h3 class="post-subtitle">
                                {{ obj.subtitle }}
                            </h3>
                            <div class="col-sm-12 col-lg-8 col-lg-offset-2 ">
                                <p>{{ obj.content | linebreaks | truncatechars:150}}</p>
                            </div>
                            <small><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div></small>
                        </a>
                            <!-- <small>{{ obj.timestamp|timesince }}</small><br/> --></h3>
                        {% if obj.user.get_full_name %}
                            <p>Author: {{ obj.user.get_full_name }}</p>
                        {% endif %}
                        <p class="post-meta">Posted by 
                        <a href="">{{ User }}</a> 
                        on <small>{{ obj.publish }}</small></p>
                    </div>
                <hr>
                <!-- <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on July 8, 2014</p>
                </div>
                <hr> -->
                <!-- Pager -->
                <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.Get.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>

                        {% if object_list.has_next %}
                            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.Get.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                        {% endif %}

                    </span>
                </div>
                <!-- <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul> -->
            </div>
            {% endfor %}
        </div>
    </div>
    {% include "footer.html" %}
{% endblock content  %}