<!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=='{% url "postss:home" %}'  style="color:black" >Bloggo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href='{% url "postss:home" %}' style="color:black" >Home</a>
                   </li>
                    <li>
                        <a href="{% url 'postss:about' %}"  style="color:black" >About</a>
                    </li>
                    <li>
                        <a href='{% url "postss:create" %}'>Add Post</a>
                    </li>
                   <li>
                        <a href="{% url 'postss:post' %}"  style="color:black" >Sample Post</a>
                    </li>
                    <li>
                        <a href="{% url 'postss:contact' %}"  style="color:black" >Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
   