{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {% include "navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="
    background-image:url({% static 'img/post-bg.jpg' %});width:111.2%;margin-left:-6% "/>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ instance.title }}</h1>
                        <h2 class="subheading">{{ instance.subtitle }}</h2>
                        <span class="meta">Posted by <a href="#">{{ instance.User }}</a> on {{ instance.publish }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{instance.content}}
                </div>
            </div>
        </div>
    </article>


    {% include "footer.html" %}
{% endblock content  %}